<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="container">
    <%- include('../includes/breadcrumbs-and-header.ejs') %>
    <%- include('../includes/error-message.ejs') %>

    <form action="/register" method="POST" novalidate>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input class="form-control <%= validationErrors.find(e => e.param === 'email' || e.param === '@') ? 'invalid' : '' %>"
          type="email" name="email" id="email" value="<%= oldInput.email==="@" ? '' : oldInput.email %>">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>" type="password"
        name="password" id="password" value="<%= oldInput.password %>">
      </div>
      <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input class="form-control <%= validationErrors.find(e => e.param === 'password2') ? 'invalid' : '' %>" type="password"
        name="password2" id="password2" value="<%= oldInput.password2 %>">
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button class="btn btn-primary" type="submit">Register</button>
    </form>
    
  </main>
  <%- include('../includes/end.ejs') %>