<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="container">
    <%- include('../includes/breadcrumbs-and-header.ejs') %>

    <% if (orders.length <= 0) { %>

    <h1>Nothing there!</h1>      
      
    <% } else { %>
    
    <h2 class="mb-4">Total orders: <%= totalOrders %></h2>
      <% orders.forEach(order => { %>
      <div class="card mb-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h2>Id: <%= order._id %></h1>
          </li>
          <li class="list-group-item">Created at: <%= order.createdAt %></li>
          <li class="list-group-item">Total price: <%= order.totalPrice/100 %> <%= process.env.CURRENCY %></li>
          <li class="list-group-item">Invoice: <a class="btn btn-link" href="/orders/<%= order._id %>">Download</a></li>
          <% order.paid ? order.paid = 'true' : order.paid = 'false' %>
          <li class="list-group-item">Paid: <%= order.paid %></li>
          <li class="list-group-item d-flex align-items-center">Status: <%= order.status %>
          <% if(order.status === "in progress") { %>
            <form action="/admin/order-delivered/<%= order._id %>" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button class="btn btn-link" type="submit">Click if order delivered</button>
            </form>
          <% } %>
          </li>
          <li class="list-group-item">
            <h3 class="mb-4">Profile</h3>
            <%= order.profile.profileId %>
          </li>
          <li class="list-group-item">
            <h3 class="mb-4">Products: </h3>
            <ul class="list-group">
              <% order.products.forEach(p => { %>
              <li class="list-group-item d-flex flex-wrap align-items-center">
                <div>
                  <%= p.product.title %><a class="btn btn-link" href="/products/<%= p.product._id %>">Read more</a>
                </div>
                <div>
                  <%= p.product.price/100 %> € * <%= p.quantity %> = <%= (p.product.price/100) * p.quantity %> <%= process.env.CURRENCY %>
                </div>                
              </li>
              <% }); %>
            </ul>
          </li>
        </ul>
      </div>
      <% }); %>

    <%- include('../includes/pagination.ejs') %>

    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>