<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main class="container">
  <%- include('../includes/breadcrumbs-and-header.ejs') %>
  <% if (products.length > 0) { %>

    <div class="row">
      <% products.forEach(product => { %>
        <div class="card col-md-4 col-lg-3 border-0">         
          <div class="card-header d-flex align-items-center justify-content-center">
            <img class="img-fluid" src="/<%= product.imageUrlSmall %>" alt="<%= product.title %>">
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex flex-column align-items-center justify-content-center">
              <a href="/products/<%=product._id %>" class="btn btn-link">
                <strong>
                  <% if (product.title.length >= 10) { product.title = product.title.substring(0, 10)+'...' } %>
                  <%= product.title %>
                </strong>
              </a>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-center">
              <%= product.price/100 %> <%= process.env.CURRENCY %>
            </li>
            <li class="list-group-item d-flex flex-column">
              <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn btn-primary">Edit</a>
              <form action="/admin/delete-product" method="POST" class="d-flex flex-column">
                <input type="hidden" value="<%= product._id %>" name="productId">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </li>
          </ul>
        </div>
      <% }) %>
    </div>

  <% } else { %>
    <h1>No Products Found!</h1>
  <% } %>

</main>
<%- include('../includes/end.ejs') %>


