<ul class="pagination">
  <% if (hasPrev) { %> <% if (firstPage) { %>
  <li class="page-item">
    <a class="page-link" href="?page=<%= firstPage %>"><%= firstPage %></a>
  </li>
  <% } %>
  <li class="page-item">
    <a class="page-link" href="?page=<%= currentPage -1 %>">--</a>
  </li>
  <% } %>

  <li class="page-item">
    <a class="page-link active" href="?page=<%= currentPage %>"
      ><%= currentPage %></a
    >
  </li>

  <% if (hasNext) { %>
  <li class="page-item">
    <a class="page-link" href="?page=<%= parseInt(currentPage) + 1 %>">--</a>
  </li>
  <% if (lastPage) { %>
  <li class="page-item">
    <a class="page-link" href="?page=<%= lastPage %>"><%= lastPage %></a>
  </li>
  <% } %> <% } %>
</ul>
