<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="container">
      <%- include('../includes/breadcrumbs-and-header.ejs') %>
      <% if (products.length > 0) { %>

      <h2 class="mb-4">Total price: <%= totalPrice/100 %> <%= process.env.CURRENCY %></h2>
      
      <div class="d-flex flex-wrap mb-4">
        <% products.forEach(p => { %>
          <div class="card" style="width: 200px;">
            <img class="card-image-top" src="/<%= p.productId.imageUrlSmall %>" alt="<%= p.productId.title %>">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>
                  <% if (p.productId.title.length >= 10) { p.productId.title = p.productId.title.substring(0, 10)+'...' } %>
                  <%= p.productId.title %>
                </strong>
              </li>
              <li class="list-group-item">
                <%= p.productId.price/100 %> <%= process.env.CURRENCY %> * <%= p.quantity %> = <%= (p.productId.price/100 * p.quantity).toFixed(2) %> <%= process.env.CURRENCY %>
              </li>
              <li class="list-group-item">
                <%- include('../includes/add-to-cart.ejs', {product: p.productId, quantity: p.quantity, message: "Update"}) %>
                
                <form action="/cart-delete-item" method="POST" class="d-flex flex-column">
                  <input type="hidden" value="<%= p.productId._id %>" name="productId">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button class="btn btn-danger" type="submit">
                    Remove
                  </button>
                </form>
              </li>
            </ul>
          </div>
        <% }) %>
      </div>

      <a class="btn btn-primary" href="/checkout">Go To Checkout!</a>
        
      <% } else { %>
        <h1>No Products in Cart!</h1>
      <% } %>

    </main>
    <%- include('../includes/end.ejs') %>
    <%- include('../includes/add-to-cart-script.ejs') %>