<%- include('../includes/head.ejs') %>
<script src="https://js.stripe.com/v3/"></script>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="container">
    <%- include('../includes/breadcrumbs-and-header.ejs') %>
    <% if (products.length > 0) { %>
    <div class="row">
      <div class="col-lg-6">
        <h1>Checkout</h1>
        <h2>Total price: <%= totalPrice/100 %></h2>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h3>User info</h3>
          </div>
          <div class="card-body">
            email: <%= email %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <% products.forEach(p => { %>
      <div class="card">
        <div class="card-body">
          <p><%= p.productId.title %></p>
          <p><%= p.productId.price %> * <%= p.quantity %> = <%= p.productId.price * p.quantity %></p>
        </div>
      </div>
      <% }) %>
    </div>
    <div class="row mt-4">
      <button id="order-btn" class="btn btn-primary">ORDER</button>
      <form action="/checkout" method="post">
        <button class="btn btn-primary" type="submit">Add to Cart</button>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="text" name="test" value="test">
      </form>
      
    </div>
    <% } else { %>
    <h1>No Products in Cart!</h1>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="ejs.min.js"></script>
  <script>
    var stripe = Stripe('<%= process.env.STRIPE_PUBLISHABLE_KEY %>');
    var orderBtn = document.getElementById('order-btn');

    var products2 = "<%# products2 %>";
    console.log(products2)

      orderBtn.addEventListener('click', function() {
        fetch('/checkout', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-TOKEN': '<%= csrfToken %>'
          },
          body: JSON.stringify({
            cart: []
          })          
          
        }).then(res => res.json()).then(res => {
          // console.log(res)
          // if (res.message === "Order created") {
          //   return stripe.redirectToCheckout({sessionId: res.session.id})
          // }
        })      
      })
    
   
  </script>