<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
<script src="https://js.stripe.com/v3/"></script>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if (products.length > 0) { %>
    <div class="card">
      <div class="card__content">
        <h1 class="centered">Total price: <%= totalPrice %></h1>
        <h2>User data</h2>
        <p>Email: <%= email %></p>
      </div>
    </div>
    <br>
    <ul class="cart__item-list">
      <% products.forEach(p => { %>
      <li class="cart__item">
        <h1><%= p.productId.title %></h1>
        <p><%= p.productId.price %> * <%= p.quantity %> = <%= p.productId.price * p.quantity %></p>
      </li>
      <% }) %>
    </ul>
    <br>
    <button id="order-btn" class="btn">ORDER</button>
    <!-- <form action="/checkout" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button class="btn btn--center" type="submit">Submit Your Order</button>
    </form> -->
    <% } else { %>
    <h1>No Products in Cart!</h1>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    var stripe = Stripe('pk_test_6Nw3PljmmhGzK3gt666dlyGh00XXNhDhir');
    var orderBtn = document.getElementById('order-btn');
    orderBtn.addEventListener('click', function() {
      stripe.redirectToCheckout({sessionId: '<%= sessionId %>'})
    })
  </script>