<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
<script src="https://js.stripe.com/v3/"></script>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="container">
    <% if (products.length > 0) { %>
    <div class="row">
      <div class="col-lg-6">
        <h1>Checkout</h1>
        <h2>Total price: <%= totalPrice/100 %></h2>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h3>User info</h3>
          </div>
          <div class="card-body">
            email: <%= email %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <% products.forEach(p => { %>
      <div class="card">
        <div class="card-body">
          <p><%= p.productId.title %></p>
          <p><%= p.productId.price %> * <%= p.quantity %> = <%= p.productId.price * p.quantity %></p>
        </div>
      </div>
      <% }) %>
    </div>
    <div class="row mt-4">
      <button id="order-btn" class="btn btn-primary">ORDER</button>
    </div>
    <!-- <form action="/checkout" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button class="btn btn--center" type="submit">Submit Your Order</button>
    </form> -->
    <% } else { %>
    <h1>No Products in Cart!</h1>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    var stripe = Stripe('<%= process.env.STRIPE_PUBLISHABLE_KEY %>');
    var orderBtn = document.getElementById('order-btn');
    orderBtn.addEventListener('click', function() {
      fetch('http://localhost:8080/checkout', {
        method: "POST",
        headers: {
          'X-CSRF-TOKEN': "<%= csrfToken %>"
        },
      }).then(res => res.json()).then(res => {
        if (res.message === "Order created") {
          stripe.redirectToCheckout({sessionId: res.session.id})
        }
      })      
    })
  </script>