<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="container">
    <%- include('../includes/breadcrumbs-and-header.ejs') %>

    <% if (orders.length <= 0) { %>

      <h1>Nothing there!</h1>      
      
    <% } else { %>
    
    <h2 class="mb-4">Total orders: <%= totalOrders %></h2>
    <ul class="list-group mb-4">
      <% orders.forEach(order => { %>
      <li class="list-group-item">
        <h2 class="mb-4">Id: <%= order._id %></h1>
        <p>Total price: <%= order.totalPrice/100 %> €</p>
        <p>Invoice: <a class="btn btn-link" href="/orders/<%= order._id %>">Download</a>
        </p>
        <h3>Products: </h3>
        <ul class="list-group">
          <% order.products.forEach(p => { %>
          <li class="list-group-item d-flex align-items-center">
            <a class="btn btn-link" href="/products/<%= p.product._id %>"><%= p.product.title %></a>
            <div><%= p.product.price/100 %> € * <%= p.quantity %> = <%= (p.product.price/100) * p.quantity %> </div>
          </li>
          <% }); %>
        </ul>
      </li>
      <% }); %>
    </ul>

    <%- include('../includes/pagination.ejs') %>

    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>