<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="container">
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid" src="/<%= product.imageUrl %>" alt="<%= product.title %>">
      </div>
      <div class="col-lg-6 p-4 d-flex flex-column justify-content-end align-items-end">
        <h1><%= product.title %></h1>
        <h2><%= product.price/100 %> <%= process.env.CURRENCY %></h2>
        <% if (isAuthenticated) { %>
          <%- include('../includes/add-to-cart.ejs', {product, quantity: 1}) %>
          <% } %>
      </div>
    </div>

    <hr>

    <%= product.description %>
     
  </main>
  <%- include('../includes/end.ejs') %>
  <%- include('../includes/add-to-cart-script.ejs') %>