<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="container">
    <%- include('../includes/breadcrumbs-and-header.ejs') %>
    
    <% if (prods.length > 0) { %>

    <div class="d-flex flex-wrap">
      <% for (let product of prods) { %>
        <div class="card" style="width: 200px;">
          <img class="card-image-top" src="/<%= product.imageUrlSmall %>" alt="<%= product.title %>">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>
                <% if (product.title.length >= 10) { product.title = product.title.substring(0, 10)+'...' } %>
                <%= product.title %>
              </strong>
            </li>
            <li class="list-group-item">
              <%= product.price/100 %> <%= process.env.CURRENCY %>
              <a href="/products/<%=product._id %>" class="btn btn-link">
                Read more
              </a>
            </li>
            <li class="list-group-item">
              <% if (isAuthenticated) { %>
                <%- include('../includes/add-to-cart.ejs', {product, quantity: 1, message: "Add to Cart"}) %>
              <% } %>
            </li>
          </ul>
        </div>
      <% } %>
    </div>

    <% } else { %>
    <h1>No Products Found!</h1>
    <% } %>
    
  </main>
  <%- include('../includes/end.ejs') %>
  <%- include('../includes/add-to-cart-script.ejs') %>